{% extends 'booktest/base.html' %}
{% block title%}
<title>首页</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <style>
        *{
            list-style: none;
        }
    </style>
{% endblock %}

 {% block container %}
<div class="div_top">

    <h1>首页</h1>
     {% if username %}

    <h2>用户：<span class="user">{{ username }}</span></h2>
    <a href="{% url 'booktest:logout' %}">退出登录</a>
    <a href="{% url 'booktest:upload' %}">上传图片</a>

    {% else %}
    <h4>还未登录 <a href="{% url 'booktest:login' %}">请登录</a></h4>

    {% endif %}
    <a href="{% url 'booktest:list' %}">列表页</a>
    <br>

</div>
<!--<img src="/static/img/1.jpg">-->


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"
     style="width:550px; margin:auto;border-radius: 10px;overflow: hidden;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for a in ads %}

        {% if forloop.counter == 1 %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="active">
         </li>
        {% else %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"></li>

        {% endif %}

        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for a in ads %}
        {% if forloop.counter == 1 %}

                <div class="item active">
            <img src="/static/media/{{ a.img }}" alt="...">
            <div class="carousel-caption">
                {{ a.desc }}
            </div>
        </div>

        {% else %}
        <div class="item">
            <img src="/static/media/{{ a.img }}" alt="...">
            <div class="carousel-caption">
                {{ a.desc }}
            </div>
        </div>

        {% endif %}

        {% endfor %}



    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{% endblock %}
