{% extends 'booktest/base.html' %}
{% block title%}
<title>首页</title>
{% endblock %}

{% block container %}


<div class="container" style="text-align: center">
    <ol class="breadcrumb">
        <li><a href="{% url 'booktest:index' %}">首页</a></li>
        <li class="active">列表页</li>
    </ol>
    <h1>列表页</h1>
    {% for book in books %}

    <li>
        <a href="{% url 'booktest:detail' book.id %}">《{{ book.title }}》</a>
        ---
        <a class="btn btn-danger btn-xs" href="{% url 'booktest:deletebook' book.id %}">删除</a>
        <br><br>
    </li>
    {% endfor %}
    <a href="{% url 'booktest:addbook' %}" class="btn btn-xs btn-success">添加书籍</a>
</div>


{% endblock %}