{% extends 'zbest/base.html' %}
{% block head %}
<title>最家</title>
<link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/idea.css"/>
{% endblock %}


<!------------------------------idea------------------------------>
<div class="address">
    <div class="wrapper clearfix">
        <a href="{% url 'zbest:index' %}" class="fl">首页</a>
        <span>/</span>
        <a href="{% url 'zbest:idea' %}" class="on">创意家居</a>
    </div>
</div>
<!------------------------------imgList1------------------------------>


{% block content %}

<div class="imgList1">
    <div class="wrapper">
        <div class="box1">
            <a href="{% url 'zbest:detail' 9 %}" class="banner"><img src="/static/img/idea1.jpg"/></a href="">
            <ul>
                {% for o in goods1 %}

                <li><a href="{% url 'zbest:detail' o.id %}">
                    <dl>
                        <dt><img src="/static/media/{{ o.showimg }}" style="width: 374px;" /></dt>
                        <dd> {{ o.title }}</dd>
                        <dd>¥{{ o.price }}</dd>
                    </dl>
                </a>
                </li>
                {% endfor %}
            </ul>

        </div>
        <h2><img src="/static/img/ih5.jpg"/></h2>
        <div class="box2">
            <a href="{% url 'zbest:detail' 7 %}" class="banner"><img src="/static/img/idea22.jpg" /></a>
            <ul>
                {% for o in goods2 %}

                <li><a href="{% url 'zbest:detail' o.id %}" class="on">
                    <dl>
                        <dt><img src="/static/media/{{ o.showimg }}" style="width: 268px;"/></dt>
                        <dd> {{ o.title }}</dd>
                        <dd>¥{{ o.price }}</dd>
                    </dl>
                </a>
                </li>

                {% endfor %}
            </ul>

        </div>
        <h2><img src="/static/img/ih6.jpg"/></h2>
        <div class="box3">
            <ul>
                {% for o in goods3 %}

                <li><a href="{% url 'zbest:detail' o.id %}" class="on">
                    <dl>
                        <dt><img src="/static/media/{{ o.showimg }}" style="width: 268px;"/></dt>
                        <dd> {{ o.title }}</dd>
                        <dd>¥{{ o.price }}</dd>
                    </dl>
                </a>
                </li>

                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}

<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/nav.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}

