{% extends 'zbest/base.html' %}
{% block head %}
<title>最家</title>
<link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
{% endblock %}


{% block content %}
<div class="block_home_slider">
    <div id="home_slider" class="flexslider">
        <ul class="slides">
            <li>
                <div class="slide">
                    <img src="/static/img/banner2.jpg"/>
                </div>
            </li>
            <li>
                <div class="slide">
                    <img src="/static/img/banner1.jpg"/>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="thImg">
    <div class="clearfix">
        <a href="{% url 'zbest:list' 1 %}"><img src="/static/img/i1.jpg"/></a>
        <a href="{% url 'zbest:list' 2 %}"><img src="/static/img/i2.jpg"/></a>
        <a href="{% url 'zbest:list' 1 %}"><img src="/static/img/i3.jpg"/></a>
    </div>
</div>


<div class="news">
    <div class="wrapper">
        <h2><img src="/static/img/ih1.jpg"/></h2>
        <div class="bott clearfix">
            {% for o in chaungyi %}

            {% if forloop.counter == 3 %}
            <a href="{% url 'zbest:detail' o.id %}">
                <img style="width: 545px;height: 310px;" src="/static/media/{{ o.showimg }}"/>
                <p></p></a>
            {% else %}
            <a href="{% url 'zbest:detail' o.id %}">
                <img style="width: 270px;height: 310px;" src="/static/media/{{ o.showimg }}"/>
                <p></p></a>
            {% endif %}
            {% endfor %}

        </div>
        <h2><img src="/static/img/ih2.jpg"/></h2>
        <div class="flower clearfix tran">

            {% for o in baijian %}
            <a href="{% url 'zbest:detail' o.id %}" class="clearfix">
                <dl>
                    <dt>
                        <span class="abl"></span>
                        <img style="width: 356px;" src="/static/media/{{ o.showimg }}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd>{{ o.title }}</dd>
                    <dd><span>¥ {{ o.price }}</span></dd>
                </dl>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<a href="#" class="ad"><img src="/static/img/ib1.jpg"/></a>

<div class="people">
    <div class="wrapper">
        <h2><img src="/static/img/ih3.jpg"/></h2>
        <div class="pList clearfix tran">
            {% for o in bihua %}
            <a href="{% url 'zbest:detail' o.id %}">
                <dl>
                    <dt>
                        <span class="abl"></span>
                        <img src="/static/media/{{ o.showimg }}"/>
                        <span class="abr"></span>
                    </dt>
                    <dd>{{ o.title }}</dd>
                    <dd><span>￥{{ o.price }}</span></dd>
                </dl>
            </a>


            {% endfor %}


        </div>
    </div>
</div>
{% endblock %}
