{% extends 'zbest/base.html' %}
    {% block head %}
    <title>最家</title>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    {% endblock %}


{% block content %}
<div class="block_home_slider">
    <div id="home_slider" class="flexslider">
        <ul class="slides">
            <li>
                <div class="slide">
                    <img src="/static/img/banner2.jpg"/>
                </div>
            </li>
            <li>
                <div class="slide">
                    <img src="/static/img/banner1.jpg"/>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="thImg">
    <div class="clearfix">
        <a href="{% url 'zbest:list' 1 %}"><img src="/static/img/i1.jpg"/></a>
        <a href="{% url 'zbest:list' 2 %}"><img src="/static/img/i2.jpg"/></a>
        <a href="{% url 'zbest:list' 1 %}"><img src="/static/img/i3.jpg"/></a>
    </div>
</div>


<div class="news">
    <div class="wrapper">
        <h2><img src="/static/img/ih1.jpg"/></h2>
        <div class="bott clearfix">
            <a href="proDetail.html"><img src="/static/img/n4.jpg"/>
                <p></p></a>
            <a href="proDetail.html"><img src="/static/img/n5.jpg"/>
                <p></p></a>
            <a href="proDetail.html"><img src="/static/img/n6.jpg"/>
                <p></p></a>
        </div>
        <h2><img src="/static/img/ih2.jpg"/></h2>
        <div class="flower clearfix tran">
            <a href="proDetail.html" class="clearfix">
                <dl>
                    <dt>
                        <span class="abl"></span>
                        <img src="/static/img/flo1.jpg"/>
                        <span class="abr"></span>
                    </dt>
                    <dd>【花艺】七头美丽玫瑰仿真花束</dd>
                    <dd><span>¥ 79.00</span></dd>
                </dl>
            </a>
            <a href="proDetail.html">
                <dl>
                    <dt>
                        <span class="abl"></span>
                        <img src="/static/img/flo2.jpg"/>
                        <span class="abr"></span>
                    </dt>
                    <dd>【花艺】七头美丽玫瑰仿真花束</dd>
                    <dd><span>¥ 79.00</span></dd>
                </dl>
            </a>
            <a href="proDetail.html">
                <dl>
                    <dt>
                        <span class="abl"></span>
                        <img src="/static/img/flo3.jpg"/>
                        <span class="abr"></span>
                    </dt>
                    <dd>【花艺】七头美丽玫瑰仿真花束</dd>
                    <dd><span>¥ 79.00</span></dd>
                </dl>
            </a>
        </div>
    </div>
</div>

<a href="#" class="ad"><img src="/static/img/ib1.jpg"/></a>

<div class="people">
    <div class="wrapper">
        <h2><img src="/static/img/ih3.jpg"/></h2>
        <div class="pList clearfix tran">
            <a href="proDetail.html">
                <dl>
                    <dt>
                        <span class="abl"></span>
                        <img src="/static/img/s7.jpg"/>
                        <span class="abr"></span>
                    </dt>
                    <dd>【最家】不锈钢壁饰墙饰软装</dd>
                    <dd><span>￥688.00</span></dd>
                </dl>
            </a>
            <a href="proDetail.html">
                <dl>
                    <dt>
                        <span class="abl"></span>
                        <img src="/static/img/s10.jpg"/>
                        <span class="abr"></span>
                    </dt>
                    <dd>【最家】小城动物木板画壁挂北欧</dd>
                    <dd><span>￥188.00</span></dd>
                </dl>
            </a>
            <a href="proDetail.html">
                <dl>
                    <dt>
                        <span class="abl"></span>
                        <img src="/static/img/s4.jpg"/>
                        <span class="abr"></span>
                    </dt>
                    <dd>【最家】玄关假山水壁饰背景墙饰挂件创意</dd>
                    <dd><span>￥599.00</span></dd>
                </dl>
            </a>
            <a href="proDetail.html">
                <dl>
                    <dt>
                        <span class="abl"></span>
                        <img src="/static/img/s9.jpg"/>
                        <span class="abr"></span>
                    </dt>
                    <dd>【最家】金属树枝壁饰铜鸟装饰品</dd>
                    <dd><span>￥928.00</span></dd>
                </dl>
            </a>
        </div>
    </div>
</div>
{% endblock %}
