{% extends 'zbest/base.html' %}

{% block head %}
<title>装饰摆件</title>
<link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/proList.css"/>
{% endblock %}


{% block content %}
<div class="banner">
    <a href="#"><img src="/static/img/temp/banner1.jpg"/></a>
</div>

<div class="address">
    <div class="wrapper clearfix">
        <a href="{% url 'zbest:index' %}">首页</a>
        <span>/</span>
        <a href="{% url 'zbest:all' %}" class="on">商品列表</a>
    </div>
</div>

<div class="current">
    <div class="wrapper clearfix">
        <h3 class="fl">装饰摆件</h3>
        <div class="fr choice">
            <p class="default">排序方式</p>
            <ul class="select">
                <li>新品上市</li>
                <li>销量从高到低</li>
                <li>销量从低到高</li>
                <li>价格从高到低</li>
                <li>价格从低到高</li>
            </ul>
        </div>
    </div>
</div>

<ul class="proList wrapper clearfix">

    {% for good in goods%}
    <li>
        <a href="{% url 'zbest:detail' good.id %}">
            <dl>
                <dt><img src="/static/media/{{ good.showimg }}"></dt>
                <dd>{{ good.title }}</dd>
                <dd>￥{{ good.price }}</dd>
            </dl>
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}

{% block script %}
<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/nav.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/pro.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/cart.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}