{% extends 'zbest/base.html' %}

{% block head %}
<title>装饰摆件</title>
<link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/proList.css"/>
{% endblock %}


{% block content %}
<div class="banner">
    <a href="#"><img src="/static/img/temp/banner1.jpg"/></a>
</div>

<div class="address">
    <div class="wrapper clearfix">
        <a href="{% url 'zbest:index' %}">首页</a>
        <span>/</span>
        <a href="flowerDer.html" class="on">装饰摆件</a>
    </div>
</div>

<div class="current">
    <div class="wrapper clearfix">
        <h3 class="fl">装饰摆件</h3>
        <div class="fr choice">
            <p class="default">排序方式</p>
            <ul class="select">
                <li>新品上市</li>
                <li>销量从高到低</li>
                <li>销量从低到高</li>
                <li>价格从高到低</li>
                <li>价格从低到高</li>
            </ul>
        </div>
    </div>
</div>

<ul class="proList wrapper clearfix">

    {% for good in goods%}
    <li>
        <a href="{% url 'zbest:detail' good.id %}">
            <dl>
                <dt><img src="/static/media/{{ good.showimg }}"></dt>
                <dd>{{ good.title }}</dd>
                <dd>￥{{ good.price }}</dd>
            </dl>
        </a>
    </li>
    {% endfor %}
</ul>

<div class="mask"></div>

<div class="proDets">
    <img class="off" src="/static/img/temp/off.jpg"/>
    <div class="tit clearfix">
        <h4 class="fl">【最家】非洲菊仿真花干花</h4>
        <span class="fr">￥17.90</span>
    </div>
    <div class="proCon clearfix">
        <div class="proImg fl">
            <img class="list" src="/static/img/temp/proDet.jpg"/>
            <div class="smallImg clearfix">
                <img src="/static/img/temp/proDet01.jpg" data-src="img/temp/proDet01_big.jpg">
                <img src="/static/img/temp/proDet02.jpg" data-src="img/temp/proDet02_big.jpg">
                <img src="/static/img/temp/proDet03.jpg" data-src="img/temp/proDet03_big.jpg">
                <img src="/static/img/temp/proDet04.jpg" data-src="img/temp/proDet04_big.jpg">
            </div>
        </div>
        <div class="fr">
            <div class="proIntro">
                <p>颜色分类</p>
                <div class="smallImg clearfix categ">
                    <p class="fl"><img src="/static/img/temp/prosmall01.jpg" alt="白瓷花瓶+20支快乐花"
                                       data-src="img/temp/proBig01.jpg"></p>
                    <p class="fl"><img src="/static/img/temp/prosmall02.jpg" alt="白瓷花瓶+20支兔尾巴草"
                                       data-src="img/temp/proBig02.jpg"></p>
                    <p class="fl"><img src="/static/img/temp/prosmall03.jpg" alt="20支快乐花"
                                       data-src="img/temp/proBig03.jpg"></p>
                    <p class="fl"><img src="/static/img/temp/prosmall04.jpg" alt="20支兔尾巴草"
                                       data-src="img/temp/proBig04.jpg"></p>
                </div>
                <p>数量</p>
                <div class="num clearfix">
                    <img class="fl sub" src="/static/img/temp/sub.jpg">
                    <span class="fl" contentEditable="true">1</span>
                    <img class="fl add" src="/static/img/temp/add.jpg">
                    <p class="please fl">请选择商品属性!</p>
                </div>
            </div>
            <div class="btns clearfix">
                <a href="#2"><p class="buy fl">立即购买</p></a>
                <a href="#2"><p class="cart fr">加入购物车</p></a>
            </div>
        </div>
    </div>
    <a class="more" href="proDetail.html">查看更多细节</a>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/nav.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/pro.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/cart.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}