{% extends 'zbest/basecenter.html' %}

{% block head %}
<title>个人信息</title>
<link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/mygrxx.css"/>
{% endblock %}

{% block you %}

        <div class="you fl">
            <h2>个人信息</h2>
            <div class="gxin">
                {% if user.portrait %}

                <div class="tx"><a href="#"><img src="/static/media/{{ user.portrait }}" style="width: 92px; border-radius: 50%;"/>
                    <p id="avatar">修改头像</p></a></div>
                <div class="xx">
                {% else %}

                <div class="tx"><a href="#"><img src="/static/img/tx.png" style="width: 92px; border-radius: 50%;"/>
                    <p id="avatar">修改头像</p></a></div>
                    <div class="xx">
                {% endif %}

                    <h3 class="clearfix"><strong class="fl">{{ user.nickname }}{{ user.gender }}基础资料</strong><a href="#" class="fr" id="edit1">编辑</a></h3>
                    <div>姓名：{{ user.nickname }}</div>
                    {% if user.gender %}

                    <div>性别：男</div>
                    {% else %}
                    <div>性别：女</div>
                    {% endif %}
                    <h3>高级设置</h3>
                    <!--<div><span class="fl">银行卡</span><a href="#" class="fr">管理</a></div>-->
                    <div><span class="fl">账号地区：中国</span></div>
                </div>
            </div>
        </div>

<!--遮罩-->
<div class="mask"></div>
<!--编辑弹框-->
<div class="bj">
    <div class="clearfix"><a href="#" class="fr gb"><img src="/static/img/icon4.png"/></a></div>
    <h3>编辑基础资料</h3>
    <form action="{% url 'zbest:changexx' %}" method="post">
        {% csrf_token %}
        <p><label>姓名：</label><input type="text" name="nickname" value="{{ user.nickname }}"/></p>
        <p><label>邮箱：</label><input type="email" value="{{ user.email }}" style="width: 252px;height: 40px;" name="mail" /></p>
        <p>
            <label>性别：</label>
            <span><input type="radio" name="gender" style="width: 18px;" value=1 checked />男</span>
            <span><input type="radio" name="gender" style="width: 18px;" value=0 />女</span>
        </p>
        <div class="bc">
            <input type="submit" value="保存"/>
            <input type="button" value="取消"/>
        </div>
    </form>
</div>

<!--修改头像-->
<div class="avatar">
    <div class="clearfix"><a href="#" class="fr gb"><img src="/static/img/icon4.png"/></a></div>
    <h3>修改头像</h3>
    <form action="{% url 'zbest:changetx' %}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <h4>请上传图片</h4>

        <input type="file" value="上传头像" name="tx" style="background: #fff;">
        <p>jpg或png，大小不超过2M</p>
        <input type="submit" value="提交" style="width: 150px;height: 30px;margin-left: 50px;"/>
    </form>
</div>

{% endblock %}

{% block script %}


<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/user.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}