{% extends 'zbest/base.html' %}

{% block head %}
<title>ok</title>
<link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/proList.css"/>
{% endblock %}

{% block content %}


<div class="order mt cart">
    <div class="site">
        <p class="wrapper clearfix">
            <span class="fl">支付成功</span>
            <img class="top" src="/static/img/temp/cartTop03.png">
        </p>
    </div>
    <p class="ok">支付成功！剩余<span>5</span>秒<a href="{% url 'zbest:myorder' %}">返回订单页</a></p>
</div>
<div class="like">
    <h4>猜你喜欢</h4>
    <div class="bottom">
        <div class="hd">
            <span class="prev"><img src="/static/img/temp/prev.png"></span>
            <span class="next"><img src="/static/img/temp/next.png"></span>
        </div>
        <div class="imgCon wrapper bd">
            <div class="likeList clearfix">
                <div>
                    {% for o in goods1 %}
                    {% if forloop.counter == 4 %}

                    <a href="{% url 'zbest:detail' o.id %}" class="last">
                        <dl>
                            <dt><img src="/static/media/{{ o.showimg }}"></dt>
                            <dd> {{ o.title }}</dd>
                            <dd>￥{{ o.price }}</dd>
                        </dl>
                    </a>
                     {% else %}
                    <a href="{% url 'zbest:detail' o.id %}">
                        <dl>
                            <dt><img src="/static/media/{{ o.showimg }}"></dt>
                            <dd> {{ o.title }}</dd>
                            <dd>￥{{ o.price }}</dd>
                        </dl>
                    </a>
                    {% endif %}
                    {% endfor %}

                </div>
                <div>

                    {% for o in goods2 %}

                    {% if forloop.counter == 4 %}
                    <a href="{% url 'zbest:detail' o.id %}" class="last">
                        <dl>
                            <dt><img src="/static/media/{{ o.showimg }}"></dt>
                            <dd> {{ o.title }}</dd>
                            <dd>￥{{ o.price }}</dd>
                        </dl>
                    </a>
                    {% else %}
                    <a href="{% url 'zbest:detail' o.id %}">
                        <dl>
                            <dt><img src="/static/media/{{ o.showimg }}"></dt>
                            <dd> {{ o.title }}</dd>
                            <dd>￥{{ o.price }}</dd>
                        </dl>
                    </a>
                    {% endif %}
                    {% endfor %}







                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/pro.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    jQuery(".bottom").slide({
        titCell: ".hd ul",
        mainCell: ".bd .likeList",
        autoPage: true,
        autoPlay: false,
        effect: "leftLoop",
        autoPlay: true,
        vis: 1
    });
</script>

{% endblock %}
