{% extends 'zbest/base.html' %}
{% block head %}
<title>墙式壁挂</title>
<link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/proList.css"/>
{% endblock %}

{% block content %}

<div class="banner">
    <a href="#"><img src="/static/img/temp/banner2.jpg"/></a>
</div>

<div class="address">
    <div class="wrapper clearfix">
        <a href="{% url 'zbest:index' %}">首页</a>
        <span>/</span>
        <a href="{% url 'zbest:paint' %}" class="on">墙式壁挂</a>
    </div>
</div>


<div class="paintCon">
    <section class="wrapper">
        <h3><img src="/static/img/temp/tit01.jpg"></h3>
        <img src="/static/img/temp/paint01.jpg"/>
        <div class="paintList">
            {% for o in goods1 %}
            <a href="{% url 'zbest:detail' o.id %}">
                <dl>
                    <dt><img src="/static/media/{{ o.showimg }}"></dt>
                    <dd>{{ o.title }}</dd>
                    <dd>{{ o.price }}</dd>
                </dl>
            </a>
            {% endfor %}
        </div>
    </section>
    <section class="wrapper">
        <h3><img src="/static/img/temp/tit02.jpg"></h3>
        <img src="/static/img/temp/paint02.jpg"/>
        <div class="paintList">
            {% for o in goods2 %}
            <a href="{% url 'zbest:detail' o.id %}">
                <dl>
                    <dt><img src="/static/media/{{ o.showimg }}"></dt>
                    <dd>{{ o.title }}</dd>
                    <dd>{{ o.price }}</dd>
                </dl>
            </a>
            {% endfor %}
        </div>
    </section>
    <section class="wrapper">
        <h3><img src="/static/img/temp/tit03.jpg"></h3>
        <div class="paintList third">
            <p><img src="/static/img/temp/sec301.jpg"/></p>
            <div class="sec">
                {% for o in goods3 %}


                <a href="{% url 'zbest:detail' o.id %}" style="width: 374px;">
                    <dl>
                        <dt><img src="/static/media/{{ o.showimg }}"></dt>
                        <dd>{{ o.title }}</dd>
                        <dd>{{ o.price }}</dd>
                    </dl>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="wrapper">
        <h3><img src="/static/img/temp/tit03.jpg"></h3>
        <div class="paintList last">
            <p>
                <a href=""><img src="/static/img/temp/sec401.jpg"/></a>
                <a href=""><img src="/static/img/temp/sec402.jpg"/></a>
            </p>
            <div class="sec">
                {% for o in goods4 %}


                <a href="{% url 'zbest:detail' o.id %}">
                    <dl>
                        <dt><img src="/static/media/{{ o.showimg }}"></dt>
                        <dd>{{ o.title }}</dd>
                        <dd>{{ o.price }}</dd>
                    </dl>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>

</div>
{% endblock %}

{% block script %}
<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/nav.js" type="text/javascript" charset="utf-8"></script>


{% endblock %}