{% extends 'zbest/base.html' %}
{% block head %}
<title>蜡艺香薰</title>
<link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/proList.css"/>
{% endblock %}
<div class="banner">
    <a href="#"><img src="/static/img/temp/perfume_Banner.jpg"/></a>
</div>
<div class="address">
    <div class="wrapper clearfix">
        <a href="{% url 'zbest:index' %}">首页</a>
        <span>/</span>
        <a href="{% url 'zbest:perfume' %}" class="on">蜡艺香薰</a>
    </div>
</div>

{% block content %}


<div class="paintCon">
    <section class="wrapper">
        <h3><img src="/static/img/temp/perfumeTit01.jpg"></h3>
        <img src="/static/img/temp/xxB01.jpg"/>
        <div class="paintList">
            {% for o in goods1 %}
            <a href="{% url 'zbest:detail' o.id %}" style="width: 374px;">
                <dl>
                    <dt><img src="/static/media/{{ o.showimg }}" style="width: 374px;"></dt>
                    <dd>{{ o.title }}</dd>
                    <dd>￥{{ o.price }}</dd>
                </dl>
            </a>
            {% endfor %}
        </div>
    </section>
    <section class="wrapper">
        <h3><img src="/static/img/temp/perfumeTit02.jpg"></h3>
        <img src="/static/img/temp/xxB02.jpg"/>
        <div class="paintList">
            {% for o in goods2 %}
            <a href="{% url 'zbest:detail' o.id %}">
                <dl>
                    <dt><img src="/static/media/{{ o.showimg }}" style="width: 374px;"></dt>
                    <dd>{{ o.title }}</dd>
                    <dd>￥{{ o.price }}</dd>
                </dl>
            </a>
            {% endfor %}

        </div>
    </section>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/nav.js" type="text/javascript" charset="utf-8"></script>


{% endblock %}
