{% extends 'zbest/basecenter.html' %}

{% block head %}
<meta charset="utf-8"/>
<title>个人信息</title>
<link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/mygrxx.css"/>

{% endblock %}

{% block you %}


<div class="you fl">
    <h2>修改密码</h2>
    <form action="{% url 'zbest:remima' %}" method="post" class="remima">
        {% csrf_token %}
        <p><span>原密码：</span><input type="password" name="oldpass" /></p>
        <p class="op">输入原密码</p>
        <p><span>新密码：</span><input type="password" name="newpass" /></p>
        <p class="op">6-16 个字符，需使用字母、数字或符号组合，不能使用纯数字、纯字母、纯符号</p>
        <p><span>重复新密码：</span><input type="password" name="aeginpass" /></p>
        <p class="op">请再次输入密码</p>
        <p><span>验证码：</span><input type="text" name="code" /><img id="verify" src="{% url 'zbest:verify' %}" alt=""/></p>
        <p class="op">按右图输入验证码，不区分大小写</p>
        <span style="margin-left:140px; color: #A10000;">{{ info }}</span>
        <input type="submit" value="提交"/>
    </form>
</div>
{% endblock %}

{% block script %}

<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/user.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function () {
        $('#verify').click(function () {
            $(this).attr('src', '/verify/?t=' + new Date().getTime());
        })

    })
</script>


{% endblock %}

