<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<ol class="breadcrumb">
    <li><a href="{% url 'vote:vindex' %}">首页</a></li>
    <li class="active">投票详情</li>
    <li><a href="{% url 'vote:result' vote.id %}">投票结果</a></li>

</ol>
<h1>投票详情</h1>


<h3><a href="{% url 'vote:result' vote.id %}">{{ vote.title }}</a></h3>
<form action="{% url 'vote:vdetail' vote.id %}" method="post">
    {% for i in vote.option_set.all %}
    <input type="radio" name="optionid" value="{{ i.id }}">{{ i.option }}
    <br><br>

    {% endfor %}
    <input type="submit" value="提交">
</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>