<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加人物</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">



</head>
<body>
<h3>《{{ book.title }}》</h3>
<form action="{% url 'booktest:addhero' book.id %}" method="post">
        <div>
        <span>名称：</span>
        <input type="text" name="name">
         </div>
         <div>
        <span>信息：</span>
        <input type="text" name="info">
         </div>
        <div>
        <span>性别：</span>
            <select name="gender">
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
    <input type="submit" value="提交">
</form>


<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

</body>
</html>