{% extends 'blog/base.html' %}

{% block title %}

<title>文章列表</title>
{% endblock %}

{% block left %}
            <main class="col-md-12">

                {% for article in page.object_list %}

                <article class="post post-1">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="{% url 'blog:single' article.id %}">{{ article.title }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{ article.category }}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="2012-11-09T23:15:57+00:00">{{ article.create_time }}</time></a></span>
                            <span class="post-author"><a href="#">{{ article.author }}</a></span>
                            <span class="comments-link"><a href="#">{{ article.comment_set.count }} 评论</a></span>
                            <span class="views-count"><a href="#">{{ article.views }} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{{ article.body|striptags|truncatechars:50 }}</p>
                        <div class="read-more cl-effect-14">
                            <a href="{% url 'blog:single' article.id %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>

                {% endfor %}

                <!-- 简单分页效果
                <div class="pagination-simple">
                    <a href="#">上一页</a>
                    <span class="current">第 6 页 / 共 11 页</span>
                    <a href="#">下一页</a>
                </div>
                -->
                <div class="pagination col-md-11">
        <ul>
            {% if page.has_previous %}
            <li class="col-md-2"><a href="?page={{ page.previous_page_number }}">上一页</a></li>
            {% endif %}

            {% if page.paginator.num_pages < 5 %}

                {% for p in page.paginator.page_range %}
                    {% if p == page.number %}
                    <li class="current col-md-1"><a href="?page={{ p }}">{{ p }}</a></li>
                    {% else %}
                    <li class="col-md-1"><a href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}

                {% endfor %}

            {% else %}

                {% for p in a %}

                    {% if p == page.number %}
                    <li class="current col-md-1"><a href="?page={{ p }}">{{ p }}</a></li>
                    {% else %}
                    <li class="col-md-1"><a href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}

                {% endfor %}

            {% endif %}

            {% if page.has_next %}
            <li class="col-md-2"><a href="?page={{ page.next_page_number }}">下一页</a></li>
            {% endif %}
        </ul>
    </div>
            </main>


{% endblock %}

{% block right %}
{% endblock %}

