{% extends 'blog/base.html' %}

{% block title %}
<title>文章详情</title>

{% endblock %}

{% block left %}
<main class="col-md-8">

    <article class="post post-{{ article.id }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ article.title }}</h1>
            <div class="entry-meta">
                <span class="post-category"><a href="{% url 'blog:category' article.category.id %}">{{ article.category }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="2012-11-09T23:15:57+00:00">{{ article.create_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ article.author }}</a></span>
                <span class="comments-link"><a href="#">{{ article.comment_set.count }} 评论</a></span>
                <span class="views-count"><a href="{% url 'blog:single' article.id %}">{{ article.views }} 阅读</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            {{ article.body|safe }}
        </div>
    </article>


    {% comment %}
    <section class="comment-area" id="comment-area">
        <hr>
        <h3>发表评论</h3>
        <form action="#" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <label for="id_name">名字：</label>
                    {{ cf.name }}
                </div>
                <div class="col-md-4">
                    <label for="id_email">邮箱：</label>
                    {{ cf.email }}
                </div>
                <div class="col-md-4">
                    <label for="id_url">网址：</label>
                    {{ cf.url }}
                </div>
                <div class="col-md-12">
                    <label for="id_comment">评论：</label>
                    {{ cf.content }}
                    <button type="submit" class="comment-btn">发表</button>
                </div>
            </div>    <!-- row -->
        </form>
        <div class="comment-list-panel">
            <h3>评论列表，共 <span>{{ article.comment_set.count }}</span> 条评论</h3>
            <ul class="comment-list list-unstyled">
                {% for comment in article.comment_set.all %}
                <li class="comment-item">
                    <span class="nickname">{{ comment.name }}</span>
                    <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">{{ comment.create_time }}</time>
                    <div class="text">
                        {{ comment.content }}
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </section>

    {% endcomment %}


    <section class="comment-area" id="comment-area">
        <hr>
        <h3>发表评论</h3>
        <div action="#" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <label for="id_name">名字：</label>
                    {{ cf.name }}
                </div>
                <div class="col-md-4">
                    <label for="id_email">邮箱：</label>
                    {{ cf.email }}
                </div>
                <div class="col-md-4">
                    <label for="id_url">网址：</label>
                    {{ cf.url }}
                </div>
                <div class="col-md-12">
                    <label for="id_comment">评论：</label>
                    {{ cf.content }}
                    <button id="btn-commit" class="comment-btn">发表</button>
                </div>
            </div>    <!-- row -->
        </div>
        <div class="comment-list-panel">
            <h3>评论列表，共 <span id="com_num">{{ article.comment_set.count }}</span> 条评论</h3>
            <ul class="comment-list list-unstyled" id="comment_list">
                {% for comment in article.comment_set.all %}
                <li class="comment-item">
                    <span class="nickname">{{ comment.name }}</span>
                    <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">{{ comment.create_time }}</time>
                    <div class="text">
                        {{ comment.content }}
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </section>
</main>

<script>
    $(function () {

        $("#btn-commit").click(function () {
            $.ajax({
                url: '{% url "comment:addcomment" article.id %}',
                type: 'post',
                data: {
                    'name': $('#id_name').val(),
                    'email': $('#id_email').val(),
                    'url': $('#id_url').val(),
                    'content': $('#id_content').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    $("#com_num").text(data.com_num);
                    $("#comment_list").append(
                        '<li class="comment-item">\n' +
                        '                    <span class="nickname">'+ data.name +'</span>\n' +
                        '                    <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">'+data.create_time +'</time>\n' +
                        '                    <div class="text">\n' +
                        '                        '+data.content +'\n' +
                        '                    </div>\n' +
                        '                </li>')
                }
            })
        })
    })
</script>


{% endblock %}


